body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container_upload {
    margin: 50px auto;
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#upload-button, #delete-button {
    background-color: #0077b5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
}

#upload-button:hover, #delete-button:hover {
    background-color: #005f8d;
}

#drag-drop-area {
    margin: 20px 0;
    padding: 100px;
    border: 2px dashed #0077b5;
    border-radius: 4px;
}

#form-section {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.file-info {
    margin-bottom: 10px;
    display: block;

}

.file-name, .file-size {
    font-weight: bold;
    
}

.form-group {
    width: 100%;
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[type="radio"] {
    margin: 0 5px;
}
.text_upload 
{
    margin: 50px;
}
